{% extends 'base.html' %}
{% block title %} Home - Detail {% endblock title %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="post-entry">
            <h2>{{ object.title }}</h2>
            <p> {{ object.content|safe }} </p>
        </div>
        {% if request.user.is_authenticated %}
       <div class="card">
        <div class="card-body">
            <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary">Editar Postagem do Blog </a>
            <a href="{{ object.get_absolute_url_delete }}" class="btn btn-danger"> Deletar Postagem do Blog </a>
        </div>
    </div>
    {% endif %}
{% endblock content %}
