{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class="container justify-content-center">
    <div class="card">
        <div class="card-header">
            <h2>LOGIN DO SISTEMA</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {{ form|bootstrap}}
                {% csrf_token %}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
